#container3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../Imagen/5568233a9cdb4492199e000e8f0878486eb01227.jpg);
  background-position: bottom;
  background-size: cover;
  background-color: #007b7d;
  height: 350px;
  padding: 0 20px;
  text-align: center;
  width: 100%;

  .h2ayuda {
    color: #ffffff !important;
    font-family: "Nunito", sans-serif;
    font-size: 40px;
    font-weight: bold;
    line-height: 45px;
    text-align: center;
  }

  .flexsearch--wrapper {
    height: auto;
    width: 30rem;
    overflow: hidden;
    background: transparent;
    margin: 0;
    position: static;
  }

  .flexsearch--form {
    overflow: hidden;
    position: relative;
  }

  .flexsearch--input-wrapper {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 66px 0 0;
    overflow: hidden;
    justify-content: center;
  }

  .flexsearch--input {
    width: 100%;
  }

  .flexsearch {
    display: flex;
    justify-content: center;
  }

  .flexsearch--input {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 60px;
    padding: 0 46px 0 10px;
    border-color: darkorange;
    border-radius: 35px; /* (height/2) + border-width */
    border-style: solid;
    border-width: 2px;
    color: #333;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  .flexsearch--submit {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 60px;
    height: 60px;
    padding: 0;
    border: none;
    margin-right: 5px; /* border-width */
    background: transparent;
    color: #4fd290;
    font-family: "Helvetica", sans-serif;
    font-size: 40px;
    line-height: 60px;
  }

  .flexsearch--input:focus {
    outline: none;
    border-color: #4fd290;
  }

  .flexsearch--input:focus.flexsearch--submit {
    color: #333;
  }

  .flexsearch--submit:hover {
    color: #333;
    cursor: pointer;
  }

  ::-webkit-input-placeholder {
    color: #888;
  }

  input:-moz-placeholder {
    color: #888;
  }
}

#container4 {
  display: flex;
  height: 400px;
  justify-content: center;
  flex-direction: row;
  align-items: center;

  #row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
  }
  .card-title {
    margin-top: 0.75rem;
  }
  .col-sm-6 {
    text-align: center;
    line-height: 2rem;
    padding: 3rem;
    width: 600px;
  }
}
.footer {
  background-color: #e2f7f0;
  padding: 3rem;
  border-top: 1px solid #ddd;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .footer-h1 {
    display: flex;
    flex-direction: column;
  }
}
