@media (max-width: 991.98px) {
  #container {
    padding-right: 2rem;
    padding-left: 2rem;
    margin-top: 4rem;
  }
  #container1 {
    padding-right: 2rem;
    padding-left: 2rem;
    margin-top: 4rem;
  }

  .card-title {
    font-size: 1rem;
  }

  .card-body,
  .card-body1 {
    text-align: center;
  }

  #banner {
    display: none;
  }

  #banner1 {
    display: none;
  }

  #banner2 {
    display: none;
  }

  .perrito {
    height: 400px;
    background-image: none;
    background-color: rgb(238, 228, 216);
  }

  .cta-content,
  .px-5 {
    text-align: center;
    display: flex;
    align-items: center;
  }

  #final {
    font-size: 1.3rem;
    white-space: nowrap;
  }

  .footer-logo {
    display: none;
  }

  .footer-info-text {
    display: none;
  }

  .footer-awarad {
    display: none;
  }

  .footer-social-link {
    text-align: center;
  }

  #row1 {
    display: none;
  }
  #row2 {
    display: none;
  }
  .copyright {
    text-align: center;
  }
  .copyright-menu ul {
    font-size: 0.9rem;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .copyright-menu li {
    margin: 0%;
    padding: 0%;
    display: flex;
    text-align: center;
  }

  .row {
    margin: 0%;
    padding: 0%;
  }

  /*  
  .contact-us,
  .contact-info {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  #row1 {
    margin-top: 6rem;
    text-align: center;
  }
  */
}

@media (max-width: 991.98px) {
  #container3 {
    background-image: url(../Imagen/Ayuda/adorable-brown-and-white-basenji-dog-smiling-and-giving-high-five-isolated-on-white.jpg);
    background-color: rgb(243, 198, 142);
    padding-right: 2rem;
    padding-left: 2rem;
  }

  #barradebusqueda {
    width: 80%;
  }

  #container3 .h2ayuda {
    font-size: 2rem;
    font-weight: 800;
    text-shadow: 3px 4px 7px rgba(81, 67, 21, 0.8);
  }
  #container3 .flexsearch--input {
    font-size: 1rem;
  }

  #container4,
  #row {
    margin-top: 4rem;
    justify-content: center;
  }
  #container4 .col-sm-6 {
    padding-right: 2rem;
    padding-left: 2rem;
    width: 350px;
    padding: 1rem;
  }

  #cardayuda {
    font-size: 2rem;
  }

  .card-title {
    font-weight: 700;
    font-size: 1.5rem;
  }

  #footerayuda {
    margin-top: 9rem;
  }
  .footer {
    padding: 1rem;
    height: 200px;
  }
}
